-
    const faqSlides = [
        {
            title: "Lorem ipsum dolor sit.",
            content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, dolorum?",
        },
        {
            title: "Lorem ipsum dolor sit amet consectetur.",
            content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, eveniet natus quidem repellat pariatur voluptatem, explicabo ea tempore assumenda eligendi exercitationem in dolores quia asperiores architecto neque veniam fugiat deserunt.",
        },
        {
            title: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consectetur corrupti et molestiae!",
            content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, nesciunt aspernatur labore id suscipit tempore reiciendis quos optio adipisci dicta, soluta blanditiis rerum maxime. Dicta, at illo.",
        },
        {
            title: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia, fuga.",
            content: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam sint, in libero temporibus repellat id atque, tenetur voluptatum odit amet aspernatur ea hic officia. Iusto quam obcaecati, vel, dicta nesciunt, architecto et repudiandae unde quaerat libero possimus modi labore quasi.",
        },
        {
            title: "Lorem ipsum dolor sit.",
            content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ea quasi cumque laborum ipsa nesciunt ratione?",
        },
        {
            title: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil aspernatur maxime harum enim ex?",
            content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus debitis assumenda id tempora cumque animi alias voluptates, enim earum accusantium!",
        }
    ]