section.configure#configure
    .configure__container.container
        form(action="" method="post").configure__form
            .configure__wrapper.configure__wrapper--header
                h2.configure__s-title.s-title Configurated dedicated server
                .configure__desc Our servers meet modern quality standards. Working 24/7, we continue to maintain our advantages in quality and speed of service
            .configure__wrapper.configure__wrapper--form
                .configure__inner.configure__inner--options
                    .configure__title Configurate your own server
                    .configure__desc Our Standard servers have 6-core processors to handle all of your sites' visitors!
                    .configure__item 
                        .configure__item-title CPU CORES
                        .configure__item-button 
                            input(type="radio" class="configure__c-radio c-radio" name="name-1" id="name-1.1")
                            label(for="name-1.1") 6 Core
                        .configure__item-button 
                            input(type="radio" class="configure__c-radio c-radio" name="name-1" id="name-1.2")
                            label(for="name-1.2") 12 Core
                    .configure__item 
                        .configure__item-title STORAGES
                        .configure__item-button 
                            input(type="radio" class="configure__c-radio c-radio" name="name-2" id="name-2.1")
                            label(for="name-2.1") 480 Gb SSD
                        .configure__item-button 
                            input(type="radio" class="configure__c-radio c-radio" name="name-2" id="name-2.2")
                            label(for="name-2.2") 960 Gb SSD
                        .configure__item-button 
                            input(type="radio" class="configure__c-radio c-radio" name="name-2" id="name-2.3")
                            label(for="name-2.3") 1,2Tb SSD
                    .configure__item 
                        .configure__item-title MEMORY (RAM)
                        .configure__item-button 
                            input(type="radio" class="configure__c-radio c-radio" name="name-3" id="name-3.1")
                            label(for="name-3.1") 16 Gb
                        .configure__item-button 
                            input(type="radio" class="configure__c-radio c-radio" name="name-3" id="name-3.2")
                            label(for="name-3.2") 32 Gb
                        .configure__item-button 
                            input(type="radio" class="configure__c-radio c-radio" name="name-3" id="name-3.3")
                            label(for="name-3.3") 64 Gb
                        .configure__item-button 
                            input(type="radio" class="configure__c-radio c-radio" name="name-3" id="name-3.4")
                            label(for="name-3.4") 128 Gb
                .configure__inner.configure__inner--res
                    .configure__title your own server
                    .configure__desc Our Standard servers have 6-core processors to handle all of your sites' visitors!
                    ul.configure__list 
                        li 6 - Core 12 - Thread
                        li 16 GB RAM
                        li 480 GB SSD 
                        li RAID 1 Storage
                        li Root Access
                        li MySQL Database Server
                        li Ubuntu
                        li 100% Network Uptime Guarantee
                        li 24/7 Tech Support & Server Monitoring
                        li DDoS Protection
                    .configure__title-total Total price
                    .configure__price
                        p $ 
                        span 146.52 
                        p /mo
                    .configure__align 
                        input(type="submit" value="Choose Plan" class="configure__button button button--bg")
                .configure__next-section.next-section
                    button(type="button").next-section__button.button--arrow