-
    const solutionsSlides = [
        {
            title: "Managed<br>Kubernetes",
            desc: "Use fault-tolerant and autoscaled Kubernetes clusters with guaranteed availability in the Selectel cloud. Simplify the process of deploying, scaling, and maintaining container infrastructure.",
        },
        {
            title: "Servers<br>with GPU",
            desc: "Cloud and physical servers with graphics cards for 3D modeling, rendering, machine learning and complex analytics.",
        },
        {
            title: "Administration<br>of services",
            desc: "We help clients to ensure stable operation of services and web applications. We are implementing modern development methodologies, optimizing databases",
        },
        {
            title: "Private<br>Cloud",
            desc: "We will build a completely isolated cloud based on our own developments — on our infrastructure or on-premise. We will provide full engineering support 24/7.",
        },
        {
            title: "Object<br>Storage",
            desc: "Store data for the operation of services and their backups, analytics data and datasets for ML. We will provide instant scaling and replication.",
        },
        {
            title: "Didn't find the<br>right solution?",
            desc: "Describe your task and select the optimal solution in terms of price and quality.",
        },
    ]