section.article#article
    .article__container.container 
        .article__breadcrumbs.breadcrumbs
            include ../../components/breadcrumbs/breadcrumbs.pug
        .article__header 
            a(href="#").article__c-tub.c-tub.c-tub--business-cases Business cases
            .article__date 7/06/24
        .article__banner 
            h1.article__title Adapt and Innovate: Paco Marchante’s Journey with the WordPress Plugins Team
            .article__picture 
                img(src="./images/choose-us/bg-choose-us.jpg" alt="")
        .article__content.content 
            p eveloper analyst Paco Marchante has been focused on WordPress since 2017. Based in Sevilla, Spain, Paco has been actively contributing to various local WordPress communities in Spain – which is one of the most vibrant WordPress communities in the world.
            p Currently, Paco serves as Team Representative for the Plugin Review team and is one of the Hostinger-sponsored contributors. Among the WordPress Make teams, the Plugins team is historically known as a small team, which makes their work in demand. On top of that, the Plugins team had undergone a notable change in 2023 during Paco’s early days of joining the team.

            p Read on to learn more about how Paco navigates WordPress’s dynamic open-source environment, powered by curiosity and the spirit of lifelong learning.
            | 
            h3 The Start of the WordPress Adventure

            p Paco first came across WordPress during an internship at a mobile development company. WordPress was the CMS that the company used to develop its websites. “I remember not understanding anything at the beginning. Almost everything seemed so difficult,” Paco reminisces. Nonetheless, he was curious about WordPress, so he learned more about it. He was interested in using WordPress as a back end for mobile apps through its API.
            a(href="#" title="title") Lorem ipsum dolor sit amet consectetur. 
            p Fast forward to 2017, Paco discovered WordCamp from a widget in the WordPress dashboard that lists upcoming WordPress events. He noticed that WordCamp Madrid 2017 was coming up.
            p “At that time, one of my best friends, Victor Sáenz, and I were embarking on a personal project related to WordPress. We decided to go to the event, and it was an amazing experience,” he recalls.
            img(src="./images/el-about-us.jpg" alt="")
            p eveloper analyst Paco Marchante has been focused on WordPress since 2017. Based in Sevilla, Spain, Paco has been actively contributing to various local WordPress communities in Spain – which is one of the most vibrant WordPress communities in the world.
            p Currently, Paco serves as Team Representative for the Plugin Review team and is one of the Hostinger-sponsored contributors.
        .article__footer 
            .article__author 
                .article__written-by Written by 
                .article__photo 
                    img(src="./images/el-news-photo-01.jpg" alt="")
                .article__name Zhanna Ceusheskovna
            .article__more 
                a(href="#" title="title").article__more-articles More from  Zhanna Ceusheskovna
