section.s-banner#s-banner
    .s-banner__container.container 
        .s-banner__breadcrumbs.breadcrumbs 
            include ../../components/breadcrumbs/breadcrumbs.pug
        .s-banner__wrapper 
            .s-banner__inner.s-banner__inner--text
                .s-banner__wrap-text
                    h1.s-banner__m-title.m-title Virtual Private Servers
                    .s-banner__desc Modern virtual machines are designed according to the optimal ratio of processor cores, memory and disks — we took care of the most necessary things so that you can focus on the most important things
                    .s-banner__align
                        button(type="button").s-banner__button.button.button--bg Buy VPS 
                        button(type="button").s-banner__button.button View Plans
            .s-banner__inner.s-banner__inner--picture
                .s-banner__picture 
                    img(src="./images/s-banner-slides/sl-s-banner-01.png", alt="")
        .s-banner__hr.hr