.our-products {
    overflow-x: hidden;

    &__container {
        position: relative;

        @include second-theme('our-products') {
            &__container {
                &::before {
                    background: url('../images/ico-circle-1-th-2.png') no-repeat center / contain;
                }
            }
        }

        &::before {
            position: absolute;
            content: "";
            top: 20px;
            left: -10%;
            display: block;
            width: 50%;
            height: 60%;
            background: url('../images/ico-circle-1.png') no-repeat center / contain;
        }

        &::after {
            position: absolute;
            content: "";
            bottom: 10%;
            right: -5%;
            display: block;
            width: 50%;
            height: 60%;
            background: url('../images/ico-plumb-1.png') no-repeat center / contain;
        }

        @include for-tablet {
            &::before {
                top: 0;
                left: -40%;
                width: 140%;
            }

            &::after {
                bottom: 0;
                right: -40%;
                width: 140%;
            }
        }
    }

    &__s-title {
        position: relative;
        z-index: 2;
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        @include flex-wrap();
    }

    &__card-pr {
        width: calc(calc(100% - 60px) / 4);

        @include for-tablet {
            width: 49%;
            margin-bottom: 28px;
        }

        @include for-mobile {
            width: 100%;
        }
    }

    &__next-section {
        position: relative;
        z-index: 2;
        display: flex;
        justify-content: space-between;

        @include for-mobile {
            flex-direction: column;
            align-items: center;
        }

        .button--bg {
            padding: 14px 64px;

            @include for-mobile {
                order: -1;
            }
        }

        .button--arrow {
            @include for-mobile {
                display: none;
            }
        }
    }
}