-
    const priceSlides = [
        {
            title: "VPS Light",
            oldPrice: "$24.60",
            info: "SAVE 54% by paying for a year",
            price: "20.00",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space'],
        },
        {
            title: "VPS Must Have",
            oldPrice: "$40.00",
            info: "SAVE 54% by paying for a year",
            price: "36.00",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space','4 TB Bandwith'],
        },
        {
            title: "VPS The Best",
            oldPrice: "$49.78",
            info: "SAVE 54% by paying for a year",
            price: "45.10",
           list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space','4 TB Bandwith','1 Snapshot'],
        },
        {
            title: "VPS All in",
            oldPrice: "$64.44",
            info: "SAVE 54% by paying for a year",
            price: "54.50",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space','4 TB Bandwith','1 Snapshot','Weekly Backups','Full Root acess'],
        },
    ]