-
    const vpsPlansSlides = [
        {
            title: "VPS Light",
            oldPriceMonth: "$24.60",
            priceMonth: "20.00",
            oldPriceYear: "$24.60",
            priceYear: "20.00",
            infoMonth: "SAVE 54% by paying for a year",
            infoYear: "SAVE 54% by paying for a year",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space'],
        },
        {
            title: "VPS Must Have",
            oldPriceMonth: "$40.00",
            priceMonth: "36.00",
            oldPriceYear: "$24.60",
            priceYear: "20.00",
            infoMonth: "SAVE 54% by paying for a year",
            infoYear: "SAVE 54% by paying for a year",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space','4 TB Bandwith'],
        },
        {
            title: "VPS The Best",
            oldPriceMonth: "$49.78",
            priceMonth: "45.10",
            oldPriceYear: "$24.60",
            priceYear: "20.00",
            infoMonth: "SAVE 54% by paying for a year",
            infoYear: "SAVE 54% by paying for a year",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space','4 TB Bandwith','1 Snapshot'],
        },
        {
            title: "VPS All in",
            oldPriceMonth: "$64.44",
            priceMonth: "54.50",
            oldPriceYear: "$24.60",
            priceYear: "20.00",
            infoMonth: "SAVE 54% by paying for a year",
            infoYear: "SAVE 54% by paying for a year",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space','4 TB Bandwith','1 Snapshot','Weekly Backups','Full Root acess'],
        },
        {
            title: "VPS Light",
            oldPriceMonth: "$24.60",
            priceMonth: "20.00",
            oldPriceYear: "$24.60",
            priceYear: "20.00",
            infoMonth: "SAVE 54% by paying for a year",
            infoYear: "SAVE 54% by paying for a year",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space'],
        },
        {
            title: "VPS Must Have",
            oldPriceMonth: "$40.00",
            priceMonth: "36.00",
            oldPriceYear: "$24.60",
            priceYear: "20.00",
            infoMonth: "SAVE 54% by paying for a year",
            infoYear: "SAVE 54% by paying for a year",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space','4 TB Bandwith'],
        },
        {
            title: "VPS The Best",
            oldPriceMonth: "$49.78",
            priceMonth: "45.10",
            oldPriceYear: "$24.60",
            priceYear: "20.00",
            infoMonth: "SAVE 54% by paying for a year",
            infoYear: "SAVE 54% by paying for a year",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space','4 TB Bandwith','1 Snapshot'],
        },
        {
            title: "VPS All in",
            oldPriceMonth: "$64.44",
            priceMonth: "54.50",
            oldPriceYear: "$24.60",
            priceYear: "20.00",
            infoMonth: "SAVE 54% by paying for a year",
            infoYear: "SAVE 54% by paying for a year",
            list: ['1 vCPU Core', '4 GB RAM','50 GB NVMs Disk space','4 TB Bandwith','1 Snapshot','Weekly Backups','Full Root acess'],
        },
    ]