-
    const allProgramsSlides = [
        {
            title: "Virtual Private Servers",
            desc: "Modern virtual machines are designed according to the optimal ratio of processor cores, memory and disks — we took care of the ratio of all resources within each configuration and allocated five lines for different tasks. The limit is up to 36 cores and 128 GB of memory.",
            img: "./images/all-programs-slides/sl-all-programs-01.jpg",
            class: "init",
        },
        {
            title: "Dedicated servers",
            desc: "You can configure the network for your tasks. For example, connect to a private network without or with access to the Internet. You can also link dedicated servers to other products, parts of the on-premise infrastructure, or hyperblocks. The service already includes wide options for any task at the start.",
            img: "./images/all-programs-slides/sl-all-programs-02.jpg",
            class: "reverse",
        },
        {
            title: "Servers with GPU",
            desc: "Cloud and physical servers with graphics cards for 3D modeling, rendering, machine learning and complex analytics. Servers with video cards will speed up the algorithms and help you perform complex calculations faster. They can easily handle image classification and speech recognition.",
            img: "./images/all-programs-slides/sl-all-programs-03.jpg",
            class: "init",
        }
    ]