-
    const headerContacts = ['support', 'test@mail.com', 'telegram', '8800 800 88 88'];

    const headerMenu = [
        {
            id: "#",
            title: "Products",
            link: "all-products.html",
        },
        {
            id: "#",
            title: "Services",
            link: "vps.html",
        },
        {
            id: "#",
            title: "About",
            link: "dedicated.html",
        },
        {
            id: "#",
            title: "FAQ",
            link: "news.html",
        },
    ];