-
    const headerContacts = ['support', 'test@mail.com', 'telegram', '8800 800 88 88'];

    const headerMenu = [
        {
            id: "our-products",
            title: "Products",
            link: "all-products.html",
        },
        {
            id: "solutions",
            title: "Services",
            link: "vps.html",
        },
        {
            id: "about-us",
            title: "About",
            link: "/",
        },
        {
            id: "",
            title: "FAQ",
            link: "/",
        },
    ];