-
    const headerContacts = ['support', 'test@mail.com', 'telegram', '8800 800 88 88'];
    const headerMenu = ['Products', 'Services', 'About', 'FAQ'];
    //- const headerMenu = [
    //-     {
    //-         id: "our-products",
    //-         title: "Products",
    //-     },
    //-     {
    //-         id: "solutions",
    //-         title: "Services",
    //-     },
    //-     {
    //-         id: "about-us",
    //-         title: "About",
    //-     },
    //-     {
    //-         id: "",
    //-         title: "FAQ",
    //-     },
    //- ];