extends layouts/base.pug

block variables
    - const title = "All products"

block content 
    include sections/all-products/all-products.pug
    include sections/solutions/solutions.pug
    include sections/faq/faq.pug
    include sections/subscribe/subscribe.pug
    include sections/feedback/feedback.pug