extends layouts/base.pug

block variables
    - const title = "Dedicated (D)"

block content 
    include sections/s-banner-two/s-banner.pug
    include sections/choose-us/choose-us.pug
    include sections/offer/offer.pug
    include sections/faq/faq.pug
    include sections/feedback/feedback.pug