extends layouts/base.pug

block variables
    - const title = "Dedicated and Virtual servers at a low price"

block content 
    include sections/main/main.pug
    include sections/our-products/our-products.pug
    section(style="margin: 200px 0")