extends layouts/base.pug

block variables
    - const title = "VPS"

block content 
    include sections/s-banner/s-banner.pug
    include sections/vps-plans/vps-plans.pug
    include sections/faq/faq.pug
    include sections/feedback/feedback.pug