-
    const newsSlides = [
        {
            title: "flexibility",
            desc: "We provide at least three solutions to the problem and suggest choosing the most suitable one for the client. We also help to solve any: even the most non-standard tasks",
        },
        {
            title: "Long-term relationships",
            desc: "We use all our experience and qualifications to solve business problems and work for the future. Therefore, customers who have chosen our servers stay with us for a long time",
        },
        {
            title: "High-quality equipment",
            desc: "Uninterrupted access to the equipment located in the data center is provided through redundant high-speed data transmission channels with a bandwidth of up to 10 GB.",
        },
        {
            title: "The safety",
            desc: "data center are protected by an automatic gas fire extinguishing system designed for early detection of a fire source, issuing a fire alarm and automatic extinguishing. ",
        },
        {
            title: "Technical support",
            desc: "technical support services for small, medium and large businesses wishing to develop their resource. Our team is committed to helping customers solve any issues and is focused on providing high-quality technical support services.",
        },
    ]