.footer {
    position: relative;
    background: #000a14;
    padding: 60px 0 0;
    padding-bottom: 0;
    margin-top: 360px;

    @include for-tablet {
        margin-top: 200px;
    }

    @include for-mobile {
        margin-top: 80px;
        padding-bottom: 24px;
    }

    &__bg {
        margin-top: 82px;
        background: url('../images/svg/bg-footer.svg') no-repeat center bottom / contain;
        padding-bottom: 22%;

        @include second-theme('footer') {
            &__bg {
                background: url('../images/svg/bg-footer-th-2.svg') no-repeat center bottom / contain;
            }
        }

        @include for-tablet {
            margin-top: 40px;
        }

        @include for-mobile {
            margin-top: 22px;
        }
    }

    &__wrapper {
        display: flex;
        padding: 22px 30px;
        border: 1px solid rgba(255, 255, 255, 0.05);
        border-radius: 16px;
        background-color: #0C161F;
        width: fit-content;

        @include for-tablet {
            width: 100%;
            justify-content: space-between;
        }

        @include for-mobile {
            flex-wrap: wrap;
        }
    }

    &__inner {
        margin-right: 92px;

        @include for-tablet {
            margin-right: 0;
        }

        @include for-mobile {
            width: 100%;
            text-align: center;
            margin-bottom: 36px;
        }
    }

    &__title {
        font-weight: 600;
        font-size: 30px;
        color: $white;
        margin-bottom: 24px;

        @include for-tablet {
            font-size: 24px;
        }

        @include for-mobile {
            font-size: 20px;
        }
    }

    &__item {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__link {
        font-weight: 300;
        font-size: 20px;
        color: $white;

        @include for-tablet {
            font-size: 16px;
        }

        @include for-mobile {
            font-size: 14px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

}