-
    const aboutList = ['About us', 'DCenters', 'Support', 'FAQ', 'Partnership'];
    const productsList = ['VPS/VDS', 'Dedicated', 'Kubernets', 'Managed database'];
    const solutionsList = ['Game Dev', 'Clouds', 'Saas Platforms', 'CH for Blockchain'];