@mixin scrollbar() {
    & {
        scrollbar-width: thin;
        scrollbar-color: $active #F1F8FF;
    }

    &::-webkit-scrollbar {
        height: 20px;
        width: 8px;
        border-radius: 4px !important;
    }

    &::-webkit-scrollbar-track {
        border-radius: 4px !important;
        background: #F1F8FF;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $active;
        border-radius: 4px !important;
    }
}