section.main#main 
    .main__bg 
    .main__container.container 
        .main__wrap-text
            h1.main__title Dedicated and Virtual servers at a low price
            .main__wrap-desc 
                .main__inner 
                    p High download speed, short uptime, backups and everything you need for the successful growth of your business
                .main__inner 
                    p High download speed, short uptime, backups and everything you need for the successful growth of your business
                .main__inner 
                    p High download speed, short uptime, backups and everything you need for the successful growth of your business
                .main__inner.main__inner--button    
                    button(type="button").main__button.button.button--outline Rent a server
        .main__next-section.next-section
            button(type="button").next-section__button.button--arrow


