.main {
    position: relative;
    padding: 0;
    overflow-x: hidden;

    --pdContainer: 240px 20px 240px;

    @include for-sm-desktop {
        --pdContainer: 160px 20px 190px;
    }

    @include for-mobile {
        --pdContainer: 100px 10px 180px;
    }

    &__bg {
        position: absolute;
        z-index: 1;
        display: block;
        width: 50vw;
        height: 70%;
        top: 53%;
        right: 2%;
        transition: 400ms;
        transform: translateY(-50%);
        background: url('../images/svg/bg-main.svg') no-repeat center / contain;
    
        @include for-sm-desktop {
            transform: none;
            top: auto;
            right: 0;
            bottom: 10%;
        }

        @include for-mobile {
            width: 100%;
            height: 50%;
            bottom: 0;
            right: -30%;
        }
    }

    &__container {
        position: relative;
        padding: var(--pdContainer) !important;
        z-index: 2;
    }

    &__wrap-text {
        max-width: 1000px;
    }

    &__title {
        font-family: $fontSecond, sans-serif;
        font-weight: 900;
        font-size: 70px;
        line-height: 100%;
        color: #000a14;
        margin-bottom: 60px;
        max-width: 900px;

        @include for-tablet {
            font-size: 54px;
        }

        @include for-mobile {
            font-size: 40px;
            margin-bottom: 26px;
        }
    }

    &__wrap-desc {
        transition: 400ms;
        @include flex-wrap();
    }

    &__inner {
        width: calc(50% - 22px);
        margin-bottom: 36px;
        padding-right: 10px;
        margin-right: 22px;
        color: $black;
        border-right: 1px solid $black;

        &:nth-child(2),
        &:nth-child(4) {
            border-right: none;
        }

        &--button {
            @include for-mobile {
                padding-top: 12px;
            }
        }

        @include for-mobile {
            width: 100%;
            margin-right: 0;
            border-right: none;
            margin-bottom: 20px;
        }

        p {
            font-family: "Inter", sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 130%;

            @include for-mobile {
                font-size: 16px;
            }
        }
    }
}