.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include for-mobile {
        flex-direction: column;
    }

    &__list {
        @include for-mobile {
            order: 2;
        }
    }

    &__item {
        display: inline-block;
        margin: 0 12px;

        @include for-mobile {
            display: block;
            margin: 12px 0;
            text-align: center;
        }
    }

    &__link {
        font-weight: 400;
        font-size: 18px;
        color: $black;

        @include for-tablet {
            font-size: 16px;
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__buttons {
        @include for-mobile {
            width: 100%;
        }
    }

    .button {
        font-family: $fontMain;
        font-weight: 400;
        font-size: 15px;
        padding: 12px 34px;

        &:first-child {
            margin-right: 12px;
            margin-left: 32px;
        }

        @include for-tablet {
            font-size: 14px;
            padding: 10px 30px;
        }

        @include for-mobile {
            margin: 12px 0 !important;
            display: block;
            width: 100%;
        }
    }
}