.s-title {
    font-family: $fontSecond, sans-serif;
    font-weight: 900;
    font-size: 56px;
    line-height: 100%;
    color: #000a14;

    @include for-tablet {
        font-size: 40px;
    }

    @include for-mobile {
        font-size: 32px;
    }
}