-
    const newsCards = [
        {
            title: "What is the difference between IaaS, PaaS and SaaS?",
            content: "Cloud technologies have rapidly burst into our lives and made their own adjustments: the growth in the consumption of virtual resources is only growing every year. ",
            status: "reviews",
            statusText: "Reviews",
        },
        {
            title: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, molestias.",
            content: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse rem blanditiis neque architecto ratione quaerat repellat corrupti eveniet labore? Quo fugit id, voluptate reprehenderit asperiores sed a! Enim, dolore doloribus!",
            status: "business-cases",
            statusText: "Business cases",
        },
        {
            title: "Lorem ipsum dolor sit amet consectetur adipisicing.",
            content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem adipisci mollitia incidunt, officia, perspiciatis inventore, at recusandae nihil eos possimus natus tempora. Maiores?",
            status: "instructions",
            statusText: "Instructions",
        },
    ];

    const reviewsSlides = [
        {
            photo: "./images/reviews/ph-reviews-1.png",
            rating: 1,
            title: "Ernie",
            content: "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non temporibus libero laboriosam praesentium, consequuntur porro quos itaque! Asperiores nulla voluptas dolorem velit.",
        },
        {
            photo: "./images/reviews/ph-reviews-2.png",
            rating: 5,
            title: "Russell",
            content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, earum.",
        },
        {
            photo: "./images/reviews/ph-reviews-3.png",
            rating: 2,
            title: "Thea",
            content: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi numquam voluptatibus necessitatibus quo natus tempora rerum excepturi consectetur at eius!",
        },
    ]