-
    const newsSlides = [
        {
            title: "How to migrate infrastructure without distracting from business tasks",
            content: "Migrating infrastructure to another provider is not an easy task. It is necessary to carefully plan all the details and correctly transfer information systems, Migrating infrastructure to another provider is not an easy task. It is necessary to carefully plan all the details and correctly transfer information systems",
            img: "./images/all-programs-slides/sl-all-programs-01.jpg",
            photo: "./images/el-news-photo-01.jpg",
            name: "Zhanna Ceusheskovna",
            date: "7/09/23",
        },
        {
            title: "11% Is that inaft?",
            content: "We study how companies build their IT infrastructure, how their needs for cloud services change, what causes the changes and what will happen to IT in the business in the near future.",
            img: "./images/all-programs-slides/sl-all-programs-02.jpg",
            photo: "./images/el-news-photo-01.jpg",
            name: "Barney McGlynn",
            date: "7/09/22",
        }
    ];