section#subscribe.subscribe 
    .subscribe__container.container 
        .subscribe__wrapper 
            .subscribe__inner.subscribe__inner--text
                .subscribe__text
                    p We are constantly developing our products and services, monitoring innovations that will help make our products better. 
            .subscribe__inner.subscribe__inner--btn 
                a(href="#", title="title").subscribe__button.button Subscribe
        .subscribe__img 
            img(src="./images/svg/text-subscribe.svg", alt="")
        .subscribe__hr.hr