body {
    --fontMain: 'Inter';
    --fontSecond: 'Inter';

    &.second-theme {
        --fontMain: 'Inter';
        --fontSecond: 'Orbitron';
    }
}

$fontMain: var(--fontMain);
$fontSecond: var(--fontSecond);

$active: #49a6ff;
$activeHover: #6bb7ff;
$activeVisited: #0675dd;

$white: #fff;
$bgGrayWhite: #f5f6f7f1;
$bgGrayWhiteNoOpacity: #f5f6f7;
$bsh: 5px 5px 18px 0 rgba(168, 168, 168, 0.45);

$black: #000a14;

$transition: 0.25s;

:root {
    --br: 6px;
    --pr: 14px;
    --brCard: 16px;
    --pdWrapper: 60px 44px;
    --pdCard: 30px 35px;
    --hr: 1px solid rgba(101, 101, 101, 0.35);

    @include for-tablet {
        --pdWrapper: 40px 26px;
        --pdCard: 20px 28px;
        --pr: 10px;
        --brCard: 12px;
    }

    @include for-mobile {
        --pdWrapper: 20px 12px;
        --pdCard: 16px 20px;
    }
}