.btn-top {
    display: none;
    cursor: pointer;
    z-index: 100;
    position: fixed;
    bottom: 5%;
    right: 5%;
    width: 38px;
    height: 38px;
  
    @media (max-width: 768px) {
      bottom: 10%;
    }
  
    &.show {
      display: block;
    }
  
    &__element {
      width: 100%;
      height: 100%;
      background-size: 100% 100%;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='45' viewBox='0 0 45 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='45' height='45' rx='5' transform='matrix(1 0 0 -1 0 45)' fill='%23000A14'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M24 30.5C24 31.3284 23.3284 32 22.5 32C21.6716 32 21 31.3284 21 30.5V16.1213L16.5607 20.5607C15.9749 21.1464 15.0251 21.1464 14.4393 20.5607C13.8536 19.9749 13.8536 19.0251 14.4393 18.4393L21.4393 11.4393L22.5 10.3787L23.5607 11.4393L30.5607 18.4393C31.1464 19.0251 31.1464 19.9749 30.5607 20.5607C29.9749 21.1464 29.0251 21.1464 28.4393 20.5607L24 16.1213V30.5Z' fill='url(%23paint0_linear_690_42)'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_690_42' x1='22.5' y1='32' x2='22.5' y2='10.3787' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%230DFE7C'/%3e%3cstop offset='1' stop-color='%230DF0FE'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e ");
    }
  }