-
    const chooseUsSlides = [
        {
            title: "We Comply With Safety Standards",
            img: "./images/choose-us/sl-choose-us-01.jpg",
            desc: "We do everything to ensure that your projects are protected — we provide security at different levels, create products that meet international standards",
        },
        {
            title: "Transparent billing that is easy to control",
            img: "./images/choose-us/sl-choose-us-02.jpg",
            desc: "Monitor resource consumption, set up auto-replenishment of the account and receive accounting documents using electronic document management.",
        },
        {
            title: "Flexible Network Architecture",
            img: "./images/choose-us/sl-choose-us-03.jpg",
            desc: "When building networks, we took into account all modern principles of architectural reliability, disaster tolerance, redundancy and bandwidth. Our networks are automated, users can manage them themselves",
        }
    ]